body {
    background-color: #323232;
}

.body {
    margin: 0;
    padding: 0;
    color: #fff;
}

.header {
    display:flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
}

.header a {
    color: #000000;
    text-decoration: none;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
}

.product {
    flex: 3;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.productcard {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: 75%;
}

.button {
    background-color: #1e59c5;
    color: #ddd;
}

footer {
    text-align: center;
    padding: 10px;
}

/* Media queries para ajustar estilos en diferentes tamaños de pantalla */

@media (max-width: 360px) {
    .productcard {
        padding: 5px;
    }
}

@media (min-width: 361px) and (max-width: 375px) {

}

@media (min-width: 376px) and (max-width: 720px) {
    .contenido {
        flex-direction: column;
    }

    .categoria, .product {
        flex: auto;
    }
}

@media (min-width: 721px) and (max-width: 1920px) {
}
