.contentlogin {
    display: grid;
    justify-content: center;
    background-color: #323232;
}

.inicio{
    text-align: center;
    color: #ffffff;
    margin-top: 1rem;
}

.buttonLogIn{
    text-align: center;
    padding: 10px;
}

.button {
    background-color: #1e59c5;
    color: #ddd;
}

.login-form {
    width: 100%;
    max-width: 400px;
    background-color: #323232;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-link {
    margin-bottom: 15px;
}

.register-text {
    color: #1e59c5;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
}

copyright{
    color: #ffffff;
}

.success-message {
    color: green;
    text-align: center;
    margin-top: 10px;
}