body {
    background-color: #323232;
}

.bodysign {
    margin: 0;
    padding: 0;
    color: #323232;
}

.containerSignup {
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-color: #323232;
}

.cabecerasign{
    font-size: 30px;
    border: 1px;
    color: #ffffff;
}
.footersign{
    display: flex;
    justify-content: center;
}
.head{
    font-size: 30px;
    border: 1px;
}
.subtitle{
    color: orange;
}

.error {
    border: 1px solid red !important;
}

.header {
    display:flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
}

.header a {
    color: #000000;
    text-decoration: none;
}

.button {
    background-color: #1e59c5;
    color: #ddd;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #d4edda;
    color: #155724;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-content h3 {
    margin-top: 0;
}

.popup-content button {
    margin: 5px;
}

.copyright{
    text-align: center;
    color: #ffffff;
}

